.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.ddd{
  	background-color: tomato;
  	width: 150px;
  	height: 300px;
  	border-radius: 5px;	
}
.dd{
	background-color: #6693dd;
	width: 100%;
	height: 27px;

}
.cc{
	
	margin-top: 10px;
	margin-left: 150px;
	width: 1100px;
	height: 450px;
	background-color: #56585b;
}
.selected{
  font-weight: bold;
}